.table-header {
  margin-top: 16px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(51, 51, 51, 0.6);
  font-weight: 700;
  font-size: 14px !important;
  padding-bottom: 12px;
}

.table-first-item {
  flex: 0 0 30%;
}

.table-second-item {
  flex: 1 1 0%;
}

.color-name-container {
  color: rgb(51, 51, 51);
  display: flex;
  flex-direction: column;
}

.color-name {
  font-size: 14px !important;
  font-weight: 700;
}

.color-hex-code {
  font-size: 14px !important;
  padding-top: 8px;
  color: rgba(51, 51, 51, 0.6);
}

.color-swatch-container {
  height: 50px;
  border-radius: 4px;
  margin-bottom: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
}
