@page "/teaching/ml"
@page "/ml"

<PageTitle>Machine Learning</PageTitle>


<!-- Title for the Machine Learning Page -->
<section class="my-5 text-center">
    <h1 class="text-4xl font-bold text-white mb-5">Machine Learning Laboratory</h1>
</section>

<!-- Section for Google Forms -->
<section class="my-8 p-5 rounded-lg shadow-lg bg-opacity-25 bg-white">
    <h2 class="text-2xl font-semibold text-white mb-4">Assessment Form</h2>
    <p class="mb-4 text-white">
        Please fill out the following form to submit your assessment for the Machine Learning laboratory.
    </p>
    <a href="https://forms.gle/wW6hRRuEeA9Qm6un9" target="_blank">
        <button class="bg-white hover:bg-gray-300 text-[#000033] font-bold py-2 px-4 rounded transition duration-300">
            Go to Assessment Form
        </button>
    </a>
</section>

<!-- Section for Evaluation Details -->
<section class="my-8 p-5 rounded-lg shadow-lg bg-opacity-25 bg-white">
    <h2 class="text-2xl font-semibold text-white mb-4">Evaluation Criteria</h2>
    <p class="mb-4 text-white">
        The evaluation for the Machine Learning laboratory is based on the following criteria:
    </p>
    <ul class="list-disc pl-5 mb-4 text-white">
        <li>Understanding of machine learning concepts</li>
        <li>Application of machine learning algorithms</li>
        <li>Quality of the code and models developed</li>
        <li>Performance in practical assessments</li>
        <li>Collaboration and teamwork skills</li>
    </ul>
    <p class="text-white">
        Ensure to read and understand each criterion carefully to perform optimally in the laboratory assessments.
    </p>
</section>



@code {
}
