@page "/"

<PageTitle>Cristian Simionescu</PageTitle>




<section class="">
    <h1 class="text-lg font-mono text-cyan-600 font-light">Hi, my name is</h1>
    <h2 class="text-4xl text-blue-200 m-0 font-bold">Cristian Simionescu.</h2>
    <h3 class="text-4xl text-slate-100 font-medium m-2 opacity-50 w-3/5">
        And I am a .NET Software Developer and deep learning Ph.D. Student at the Faculty of
        Computer Science Iasi
    </h3>
    <a href="assets/CV.pdf" target="_blank">
        <button class="mt-4 px-8 py-2 text-cyan-600 border border-primary rounded font-mono text-lg bg-transparent hover:bg-primary hover:bg-opacity-20">
            Resume
        </button>
    </a>
</section>