@inherits LayoutComponentBase

<div class="flex flex-col flex-wrap w-full p-0">
    <div class="flex flex-row justify-between items-center fixed top-0 w-full z-50 p-4 select-none bg-[#000033] shadow-lg">
        <a href="/" aria-label="Home" class="block h-14 w-44">
               <div class="flex items-center justify-start">
                <svg id="Logo" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 517 167">
                    <defs>
                        <style>
                            .cls-1 {
                                font-size: 60px;
                                font-family: Biko;
                            }

                            .cls-1,
                            .cls-8 {
                                fill: #fff;
                            }

                            .cls-2 {
                                letter-spacing: 0.02em;
                            }

                            .cls-3 {
                                letter-spacing: 0.03em;
                            }

                            .cls-4 {
                                letter-spacing: 0.01em;
                            }

                            .cls-5 {
                                letter-spacing: -0.01em;
                            }

                            .cls-6 {
                                letter-spacing: 0.03em;
                            }

                            .cls-7 {
                                fill: none;
                                stroke: #fff;
                                stroke-miterlimit: 10;
                                stroke-width: 3px;
                            }
                        </style>
                    </defs>
                    <text class="cls-1" transform="translate(149.3 101.32)">S<tspan class="cls-2" x="36.06" y="0">I</tspan><tspan class="cls-3" x="53.46" y="0">M</tspan><tspan class="cls-4" x="103.86" y="0">I</tspan><tspan class="cls-5" x="120.66" y="0">O</tspan><tspan x="168.84" y="0">N</tspan><tspan class="cls-6" x="213.72" y="0">E</tspan><tspan x="249.84" y="0">SCU</tspan></text>
                    <polyline class="cls-7" points="165.5 33.5 165.5 1.5 1.5 1.5 1.5 165.5 165.5 165.5 165.5 133.5"></polyline>
                    <path class="cls-8" d="M39,38.5v90h90v-90ZM84.93,99.26a17.19,17.19,0,0,0,13.83-6.91L99.84,91l7.63,5.62L106.32,98a26.49,26.49,0,0,1-21.39,10.72A26.34,26.34,0,0,1,66,100.92a24.76,24.76,0,0,1-5.77-8.57,25.82,25.82,0,0,1-2.16-10.44A26.8,26.8,0,0,1,97,58a26.41,26.41,0,0,1,9.43,7.92l1.15,1.44-7.7,5.69-1.08-1.44A17,17,0,0,0,84.93,64.7a17.28,17.28,0,1,0,0,34.56Z"></path>
                </svg>
            </div>
        </a>

        <div class="relative text-white">
            <button id="menu-button" class="p-4 -mr-4 lg:-mr-0 bg-transparent border-none cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                </svg>
            </button>
            <div id="menu" class="absolute right-0 mt-1 w-48 bg-[#000033] rounded shadow-md lg:flex lg:items-center lg:relative lg:mt-0 lg:w-auto">
                <ul class="flex flex-col lg:flex-row lg:space-x-4">
                    <li><a href="/teaching/ps" class="block px-4 py-2 hover:text-gray-300">Probability and Statistics</a></li>
                    <li><a href="/teaching/ml" class="block px-4 py-2 hover:text-gray-300">Machine Learning</a></li>
                    <li><a href="https://pmp.cristian.simionescu.me" class="block px-4 py-2 hover:text-gray-300">Probabilistic Modeling and Programming</a></li>
                    <li><a href="https://atnn.cristian.simionescu.me" class="block px-4 py-2 hover:text-gray-300">Advanced Topics in Neural Networks</a></li>
                </ul>
            </div>
        </div>
    </div>


    <main class="flex flex-row max-w-3xl mx-auto pb-12 pt-24">
        <article class="content px-4">
            <div class="flex flex-col">
                <div class="w-full max-w-screen-2xl mx-auto p-0">
                    <div class="flex flex-col items-start justify-center">
                        @Body
                    </div>
                </div>
            </div>
        </article>
    </main>
</div>

<script>
    function checkMenu() {
        const menuButton = document.querySelector('#menu-button');
        const menu = document.querySelector('#menu');

        // Check if menu exists to avoid null reference errors
        if (menu) {
            const menuItems = menu.querySelectorAll('a');
            
            // Calculate the total width of all menu items
            let menuWidth = 0;
            menuItems.forEach((link) => {
                menuWidth += link.offsetWidth;
            });

            // Get the available width for the menu items
            const navWidth = document.querySelector('.fixed').offsetWidth;

            // If the total width of menu items is greater than the nav width, show the button
            if (menuWidth > navWidth - 200) {
                menuButton.style.display = 'block';
                menu.classList.add('hidden');
            } else {
                menuButton.style.display = 'none';
                menu.classList.remove('hidden');
            }
        }
    }

    // Initial check when the page is loaded
    checkMenu();

    // Check on every window resize event
    window.addEventListener('resize', checkMenu);
</script>

<script>
    const button = document.querySelector('#menu-button');
    const menu = document.querySelector('#menu');

    button.addEventListener('click', () => {
        menu.classList.toggle('hidden');
    });
</script>


@code {
}
